@use "fonts" as *;
@use "tailwindcss" as *;

@theme {
  --font-roobert: "Roobert";
  --font-canela: "Canela Text";
  --font-bricolage: "Bricolage Grotesque";
  --font-instrument: "Instrument Sans";
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome/Safari */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-roobert font-bold;
}

#sidebar {
  [role="list"] {
    @apply font-roobert;
  }
}
