@use "tailwindcss" as *;

@theme {
  --font-roobert: "Roobert";
  --font-canela: "Canela Text";
  --font-bricolage: "Bricolage Grotesque";
  --font-instrument: "Instrument Sans";
}

body {
  @apply font-bricolage;
}
